{% extends "layout.html" %}
{% block content %}
<table class="table table-striped table-bordered">
  <form action="{{ url_for('.accounts') }}">
  <select name="month_year">
    <option value="">All rows</option>
    {% for month_year_item in month_years %}
    <option value="{{month_year_item }}" {% if month_year %} selected='true' {% endif %}>{{month_year_item}}</option>
    {% endfor %}
  </select>
  <input type="Submit" />
  </form>

  <tr>
    <th>Title</th>
    <th>Withdrawal</th>
    <th>Deposit</th>
  </tr>
  {% for account in accounts %}
  <tr>
    <td>{{ account.full_title }}</td>
    <td>{{ account.withdrawal or 0.0 }}</td>
    <td>{{ account.deposit or 0.0 }}</td>
  </tr>
  {% else %}
  <tr><td>No items</td></tr>
  {% endfor %}

</table>

<h3><a href="{{ url_for('.add_account') }}">Add new account</a></h3>
{% endblock %}
